<html>

<head>

<title>Love Notes</title>
<script src="{{ url_for('static', filename='main.js') }}"></script>
</head>

<body>

<center><h1>Love Notes</h1></center>
<center>
<form method="post" action="{{ url_for('submitnote') }}">
<textarea name="letter" id="letter" cols="100" rows="30"></textarea>
<br /><br />
<input type="hidden" name="keys" id="keys" value="">
<input type="hidden" name="times" id="times" value="">
<input type="submit" value="submit" id="submit">
</form>
</center>
</body>

</html>
